---
import { Icon } from 'astro-icon/components'
import IdeText from './ui/ide-text.astro'
import ThreeFolder from './ui/three-folder.astro'
import { getTranslations } from '../utils/i18n'

const locale = Astro.currentLocale ?? 'en'
const t = getTranslations(locale)
---

<section class='flex h-dvh snap-center snap-always flex-col p-4 md:p-12'>
	<div class='grid h-full grid-cols-4 overflow-hidden'>
		<div class='col-span-4 h-full md:col-span-3'>
			<header class='bg-border h-10 w-full px-3'>
				<div class='flex h-full w-full items-end gap-3 md:w-1/5'>
					<div
						class='bg-background text-border flex h-7 w-full items-center justify-between px-3'
					>
						<div class='flex items-center gap-3'>
							<Icon name='markdown' class='size-4' />
							<span class='font-semibold'>{t.home.stacks.tabText}</span>
						</div>

						<Icon name='x' class='size-4' />
					</div>
				</div>
			</header>

			<main class='border-border h-full overflow-hidden border-x pl-3'>
				<IdeText />
			</main>
		</div>

		<aside
			class='bg-background-secondary border-border hidden h-full flex-col border border-l-0 md:flex'
		>
			<header
				class='border-border flex h-10 items-center justify-between border-b px-3'
			>
				<h2 class='font-geist-mono text-secondary text-xl'>{t.home.stacks.explorerTitle}</h2>

				<div id='explorer-dots' class='flex items-center gap-1.5'>
					<div class='bg-primary size-2 rounded-full'></div>
					<div class='bg-primary size-2 rounded-full'></div>
					<div class='bg-primary size-2 rounded-full'></div>
				</div>
			</header>

			<main class='p-3'>
				<ThreeFolder />
			</main>
		</aside>
	</div>

	<footer
		class='bg-border font-geist-mono text-background flex h-5 w-full items-center justify-between px-3 text-[0.625rem] md:text-xs'
	>
		<div class='flex items-center gap-1'>
			<Icon name='x-circle' class='size-3.5' />
			0
			<Icon name='warning' class='size-3.5' />
			0
			<Icon name='warning-circle' class='size-3.5' />
			0
		</div>

		<div class='flex items-center gap-4 font-medium'>
			<span>{t.home.stacks.footerLF}</span>
			<span>{t.home.stacks.footerMarkdown}</span>
			<span>{t.home.stacks.footerLnCol}</span>
			<span>{t.home.stacks.footerUTF8}</span>
		</div>
	</footer>
</section>

<script>
	import gsap from 'gsap'

	const container = document.getElementById('explorer-dots')

	if (container) {
		const dots = Array.from(container.children) as HTMLElement[]

		const tl = gsap.timeline({ repeat: -1 })

		for (const dot of dots) {
			tl.to(dot, { opacity: 0, duration: 0.15, ease: 'power1.inOut' }).to(dot, {
				opacity: 1,
				duration: 0.15,
				ease: 'power1.inOut',
			})
		}

		tl.to({}, { duration: 0.3 })
	}
</script>
